body {
    font-family: Arial;
    background-color: #e6f2ff;
    text-align: center;
}

.calc-box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

input, select {
    width: 90%;
    padding: 5px;
}
