body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

.quiz-box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 5px;
}
